$color01:gold;
$color02:yellow;



nav {
    background-color:#b30000;
    color:$color01;
}

.navbar a {
    color:$color02;
}

.navbar a:hover {
    color:$color01;
    background-color:#850808;
}

.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-gold {
        color:$color01;
    }
    
.row{
    height: 300px;
}

footer {
    background-color:#b30000;
    color:$color01;
    height:50px;
}

/* SCSS WIP*/

#important {
    font-weight: bold;
    color: #b30000;
}

#schedule {
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align:  middle;
}